Dockerfile*

# App and intermediate build dirs
app/target/jenkinsfile-runner*
app/target/classes
app/target/maven-archiver
app/archive-tmp
bootstrap/target
payload/target
payload-dependencies/target
setup/target
target/
#vanilla-package/target/war
#vanilla-package/target/plugins
vanilla-package/target/maven-archiver
vanilla-package/target/maven-status
vanilla-package/target/jenkinsfile-runner*
vanilla-package/target/surefire-reports
vanilla-package/target/classes
vanilla-package/target/generated-sources
vanilla-package/target/generated-test-sources
packaging-parent-pom/target
packaging-slim-parent-pom/target

# Tests
tests

# Documentation
demo
docs
