app/target/
app-portable/target/
bootstrap/target/
payload-dependencies/target/
payload/target/
setup/target/
tests/target/
tests/.jenkinsfile-runner-test-framework/
tests/*.log
vanilla-package/target/

# Demo
cwp-cli-1.3.jar
demo/cwp/tmp/output
demo/cwp/tmp/prebuild
demo/cwp/out
demo/databound/out
demo/databound/source
demo/cwp/source
demo/cwp-jdk11/out/
demo/cwp-jdk11/source/

# IDE
.idea
*.iml
.project
.settings/
**/.classpath
**/.factorypath
**/.project
**/.settings/

